$white: #f0eee1;
$orange: #f0582b;
$black: #231f20;
$blue: #2b337b;
$yellow: #ffc228;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 10px;
}

body {
  background-color: $white;
}

.header {
  &__contact {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    z-index: 10;
    padding: 10px 0 15px 10px;
    background-color: $blue;
    @media (min-width: 1024px) {
      justify-content: space-between;
    }
    &--mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    p {
      font-size: 1.6rem;
      letter-spacing: 0.3px;
      color: $white;
      @media (min-width: 360px) {
        font-size: 1.8rem;
      }
      @media (min-width: 768px) {
        font-size: 2rem;
      }
      a {
        color: $white;
      }
    }
    &--desktop {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 64vw;
        li {
          list-style: none;
          font-size: 2.7rem;
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          color: $white;
          cursor: pointer;
          &:hover {
            color: $yellow;
            transition: 0.3s;
          }
        }
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 70px);
    margin-top: 70px;
    @media (min-width: 500px) and(orientation:landscape) {
      height: 140vh;
    }
    @media (min-width: 1024px) {
      position: fixed;
      margin-top: 0;
      width: 30vw;
      min-height: 90vh;
      z-index: 30;
    }
  }
  &__title {
    h1 {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 3.5rem;
      color: #f0582b;
      animation: headerFirstText 2.5s ease-in-out;
      @media (min-width: 360px) {
        font-size: 2.1rem;
      }
      @media (min-width: 410px) {
        font-size: 2.4rem;
      }
      @media (min-width: 768px) {
        font-size: 2.8rem;
        line-height: 4.4rem;
      }
      @media (min-width: 500px) and(orientation:landscape) {
        font-size: 2.1rem;
        line-height: 3rem;
      }
      @media (min-width: 800px) and(orientation:landscape) {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
      @media (min-width: 1024px) {
        font-size: 2.4rem;
      }
    }
  }
  &__logo {
    img {
      height: 70px;
      width: 260px;
      @media (min-width: 410px) {
        height: 80px;
        width: 280px;
      }
      @media (min-width: 768px) {
        height: 100px;
        width: 300px;
      }
      @media (min-width: 500px) and(orientation:landscape) {
        height: 60px;
        width: 260px;
      }
      @media (min-width: 800px) and(orientation:landscape) {
        height: 80px;
        width: 380px;
      }
      @media (min-width: 1024px) {
        height: 80px;
        width: 270px;
      }
    }
  }
  &__menu {
    align-self: flex-start;
    margin-left: 50px;
    ul {
      list-style: none;
      li {
        font-size: 1.5rem;
        letter-spacing: 0.3px;
        color: #2b337b;
        cursor: pointer;
        @media (min-width: 360px) {
          font-size: 2rem;
        }
        @media (min-width: 410px) {
          font-size: 2.2rem;
        }
        @media (min-width: 768px) {
          font-size: 2.4rem;
        }
        @media (min-width: 800px) and(orientation:landscape) {
          font-size: 2.2rem;
        }
        @media (min-width: 1024px) {
          font-size: 2.4rem;
        }
      }
    }
  }
  &__arrow {
    font-size: 3rem;
    color: $black;
    animation: arrow 1.5s linear infinite;
    cursor: pointer;
    @media (min-width: 360px) {
      font-size: 3.5rem;
    }
    @media (min-width: 768px) {
      font-size: 3.7rem;
    }
  }
}
.about {
  margin-bottom: 40px;
  text-align: justify;
  padding: 20px 10px;
  @media (min-width: 1024px) {
    margin: 70px 0 90px 35vw;
    width: 64.5vw;
    padding: 135px 0;
  }
  h2 {
    padding: 20px 0 10px 0;
    font-weight: bold;
    @media (min-width: 360px) {
      font-size: 1.8rem;
    }
    @media (min-width: 768px) {
      font-size: 2.2rem;
    }
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  p {
    font-size: 1.4rem;
    // @media (min-width: 360px) {
    //   font-size: 1.6rem;
    // }
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    span {
      font-size: 2.1rem;
      font-weight: bold;
    }
  }
  &__list {
    margin-left: 10px;
    padding: 0 10px;
    font-size: 1.4rem;
    // @media (min-width: 360px) {
    //   font-size: 1.6rem;
    // }
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
    list-style-type: square;
    span {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}

.services {
  margin-bottom: 50px;
  padding: 60px 0;
  width: 100vw;
  @media (min-width: 1024px) {
    margin: 100px 0 80px 35vw;
    width: 64.5vw;
    padding: 120px 0;
  }
  &__header {
    display: flex;
    height: 130px;
    img {
      height: 70px;
      @media (min-width: 768px) {
        height: 85px;
      }
      @media (min-width: 500px) and (orientation: landscape) {
        height: 90px;
      }
    }
  }
  &__dry,
  &__ozon,
  &__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    cursor: pointer;
    h2 {
      font-size: 1.5rem;
      @media (min-width: 360px) {
        font-size: 1.7rem;
      }
      @media (min-width: 768px) {
        font-size: 1.9rem;
      }
      @media (min-width: 500px) and (orientation: landscape) {
        font-size: 1.9rem;
      }
      @media (min-width: 768px) {
        font-size: 2.1rem;
      }
    }
  }
  &__buy {
    text-align: center;
    line-height: 2rem;
    background-color: $yellow;
    i {
      font-size: 3.8rem;
      color: $black;
      @media (min-width: 768px) {
        font-size: 6rem;
      }
      @media (min-width: 500px) and (orientation: landscape) {
        font-size: 5rem;
      }
      @media (min-width: 1024px) {
        padding: 20px 0;
        font-size: 5.5rem;
      }
    }
  }
  .active {
    background-color: $yellow;
  }
  .deActive {
    background-color: $white;
  }
  &__dryText,
  &__ozonText,
  &__buyText {
    padding: 10px;
    background-color: #ffc228;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: justify;
    color: black;
    @media (min-width: 360px) {
      font-size: 1.6rem;
    }
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
    @media (min-width: 1024px) {
      padding: 20px;
      font-size: 1.9rem;
    }
    li {
      list-style-type: square;
      margin-left: 20px;
    }
    span {
      font-weight: bold;
    }
    .more {
      background-color: #ffc228;
      width: 100%;
      text-align: center;
    }
  }
  &__ozonText,
  &__dryText {
    display: none;
  }
  .showMoreText,
  .buyShowMoreText,
  .ozonShowMoreText {
    display: none;
  }
  .activeShowMoreText {
    display: block;
  }
  .servicesTextActive {
    display: block;
  }
  .servicesTextDeactive {
    display: none;
  }
}

.works {
  height: 80vh;
  color: $orange;
  @media (min-width: 500px) and(orientation:landscape) {
    height: 130vh;
  }
  @media (min-width: 1024px) {
    margin-left: 35vw;
    width: 64.5vw;
    height: 100vh;
  }
  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: 410px) {
      font-size: 2.6rem;
    }
    @media (min-width: 768px) {
      font-size: 2.8rem;
    }
  }
  &__gallery {
    &--image {
      height: 50vh;
      background-size: cover;
      background-position: center;
      @media (min-width: 500px) and(orientation:landscape) {
        height: 90vh;
      }
      @media (min-width: 1024px) {
        height: 75vh;
      }
    }
    p {
      font-size: 1.7rem;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      margin-top: 2vh;
      line-height: 1.9rem;
      @media (min-width: 768px) {
        font-size: 2.2rem;
      }
      @media (min-width: 500px) and(orientation:landscape) {
        font-size: 2.3rem;
      }
    }
    &--arrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px;
      height: 50vh;
      color: $white;
      font-size: 5rem;
      text-shadow: 5px 5px 5px $black;
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 6rem;
      }
      @media (min-width: 500px) and(orientation:landscape) {
        height: 90vh;
      }
    }
  }
}

.contact {
  height: 90vh;
  padding: 10px;
  background-color: $blue;
  color: $orange;
  @media (min-width: 410px) {
    height: 70vh;
  }
  @media (min-width: 1024px) {
    margin-left: 35vw;
    width: 64.5vw;
  }
  @media (min-width: 500px) and(orientation:landscape) {
    height: 160vh;
  }
  @media (min-width: 1024px) {
    height: 87vh;
  }
  h2 {
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    @media (min-width: 360px) {
      font-size: 2.3rem;
    }
    @media (min-width: 768px) {
      margin-top: 80px;
      font-size: 2.5rem;
    }
    @media (min-width: 640px) and(orientation:landscape) {
      margin-top: 50px;
    }
  }
  h3 {
    margin: 10px 0;
    font-size: 1.7rem;
    letter-spacing: 0.3px;
    @media (min-width: 360px) {
      font-size: 1.9rem;
    }
    @media (min-width: 768px) {
      font-size: 2.2rem;
    }
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: $white;
    @media (min-width: 360px) {
      font-size: 1.7rem;
    }
    @media (min-width: 768px) {
      font-size: 2.1rem;
    }
  }
  a {
    font-size: 1.9rem;
    letter-spacing: 0.3px;
    color: $white;
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  &__adress {
    margin: 18px 0;
  }
  &__phone {
    margin: 10px 0;
    p {
      font-size: 1.9rem;
      letter-spacing: 0.3px;
      @media (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }
  &__toTop {
    margin-left: 60vw;
    background-color: $blue;
    color: $white;
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin-top: 0px;
    cursor: pointer;
    @media (min-width: 360px) {
      font-size: 1.1rem;
    }
    @media (min-width: 768px) {
      font-size: 1.3rem;
    }
    @media (min-width: 1024px) {
      margin-left: 40vw;
    }
  }
}

.footer {
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
  text-align: center;
  background-color: #231f20;
  color: white;
  @media (min-width: 410px) {
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
  @media (min-width: 1024px) {
    margin-left: 35vw;
    width: 64.5vw;
  }
}

/* ANIMATIONS */

@-webkit-keyframes headerFirstText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes headerFirstText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* BUTTON-ANGLE ANIMATION - HEADER */
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  5% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  10% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  15% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  20% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  35% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  55% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  85% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  90% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  95% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  5% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  10% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  15% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  20% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  35% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  55% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  85% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  90% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  95% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
