* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
}

.buyback {
    margin: 10px;
    max-width: 1300px;
    margin: 0 auto;
}

.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.bg img {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

h2 {
    font-size: 1.4rem;
    padding: 10px 0;
}

.buyback article {
    text-align: justify;
    font-weight: 500;
}

/* STYLE - Orientation Potrait */

@media(orientation:portrait) and (min-width:768px) {
    h2 {
        font-size: 2.7rem;

    }

    .buyback article p {
        font-size: 1.3rem;
    }
}

@media(orientation:portrait) and (min-width:1024px) {
    h2 {
        font-size: 3.7rem;
    }

    .buyback article p {
        font-size: 1.6rem;
    }

}

/* Desktop */

@media(min-width:500px) {
    .buyback {
        padding: 10px;
    }
}

@media(min-width:1100px) {
    .buyback {
        padding: 10px;
    }

    .bg img {
        width: 60%;
    }
}

@media(min-width:1300px) {
    h2 {
        padding: 50px 0;
    }

    .bg img {
        width: 50%;
    }
}