/* logo color #231f20, #ffffff*/


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 10px;
  max-width: 1920px;

}

body {
  background-color: #f0eee1;
}


/* mobile */

/* HEADER */

header {
  height: 100vh;
  background-color: #f0eee1;

}

header h1 {
  position: absolute;
  bottom: 100px;
  left: 30px;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 40px;
  color: #f0582b;
  animation: headerFirstText 2.5s ease-in-out;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 300px;
  transform: translateX(-50%);

}

.logo img {
  height: 70px;
  width: 260px;
}

/* BURGER MENU */

.burgerLine {
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #f0eee1;
  z-index: 10;
}

.burgerLineMenu {
  background-color: #2b337b;
}

.burger {
  position: absolute;
  width: 35px;
  height: 60px;
  right: 30px;
  top: 0px;
  line-height: 60px;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;

}

.row {
  position: absolute;
  height: 4px;
  width: 40px;
  background-color: #231f20;
  -webkit-transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  -o-transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}

.row01 {
  top: 26%;
}

.row02 {
  top: 46%;
}

.row03 {
  top: 68%;
}

.burger.close .row01 {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 57%;
  background-color: #ffffff;
  background-color: #f0582b;
  z-index: 3;
}

.burger.close .row02,
.burger.close .row03 {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 57%;
  background-color: #ffffff;
  background-color: #f0582b;
  z-index: 3;
}

nav.menu {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  height: 100vh;
  width: 100vw;
}

nav.menu.active {
  display: block;
}

nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #231f20;
  background-color: #2b337b;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

nav.menu ul li {
  -ms-flex-preferred-size: 11vh;
  flex-basis: 11vh;
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  color: #f0582b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}


nav.menu ul li a {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
}

header .button {
  position: absolute;
  bottom: 18px;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-size: 3.3rem;
}

.fa-angle-down {
  color: #231f20;
  -webkit-animation: arrow 1.5s linear infinite;
  animation: arrow 1.5s linear infinite;
  cursor: pointer;
}

/* ANIMATION */

@-webkit-keyframes headerFirstText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

@keyframes headerFirstText {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}


/* BUTTON-ANGLE ANIMATION - HEADER */
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  5% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  10% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  15% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  20% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  35% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  55% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  85% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  90% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  95% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  5% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  10% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  15% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  20% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  30% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  35% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  40% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  45% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  55% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }

  60% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }

  70% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  85% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }

  90% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  95% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }

  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* MEDIA - HEADER */
/* PORTRAIT */
@media (orientation: portrait) and (min-width: 360px) {
  .burgerLine {
    height: 70px;
  }

  .burger {
    top: 7px;
  }

  .logo {
    bottom: 340px;
  }

  header h1 {
    bottom: 150px;
    font-size: 3rem;
  }

}

@media (orientation: portrait) and (min-width: 410px) {
  .burgerLine {
    height: 80px;
  }

  .burger {
    top: 10px;
  }

  .row{
    width: 50px;
    height: 4px;
  }

  .row01 {
    top: 26%;
  }
  
  .row02 {
    top: 48%;
  }
  
  .row03 {
    top: 71%;
  }
  

  .logo {
    bottom: 340px;
  }

  .logo img {
    height: 90px;
    width: 310px;
  }

  header h1 {
    bottom: 150px;
    font-size: 4rem;
  }
  
  header .button{
    font-size: 4.3rem;
  }
}

/* LANDSCAPE - HEADER*/

@media (orientation: landscape) and (min-width: 514px) {}


/* SECTION ABOUT */

.about article {
  margin: 0 auto;
  height: 130vh;
  text-align: justify;
  padding: 30px 10px;
  font-size: 1.5rem;
  background-color: #f0eee1;
}

.about article p {
  position: relative;
  left: 0;
  top: 15%;
}

.about article h2 {
  font-size: 1.9rem;
  padding-bottom: 30px;
  font-weight: 500;
  color: #f0582b;
}

.list li {
  margin-left: 10px;
  font-size: 1.4rem;
  list-style-type: square;
}

.list span {
  font-weight: bold;
}

/* MEDIA - SECTION "ABOUT" */
/* ORIENTATION - PORTRAIT */
@media (orientation: portrait) and (min-width: 360px) {
  .about article h2 {
    font-size: 2.1rem;
  }

  .list li {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  .about article h2 {
    font-size: 2.5rem;
  }

  .list li {
    font-size: 1.7rem;
  }
}

/* 
SECTION - SERVICES */

.services {
  margin: 0 auto;
  height: 150vh;

}

.servicesHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0eee1;
}

.services div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
}

.dry,
.ozon,
.buy {
  height: 20vh;
  position: relative;
  background-color: #f0eee1;
  color: black;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.buy {
  background-color: #ffc228;
}

.active {
  background-color: #ffc228;
}

.deActive {
  background-color: #f0eee1;
}

.dry div img,
.ozon div img {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 12vh;
}

.buy div i {
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 4rem;
  color: black;
}

.dry h2,
.ozon h2,
.buy h2 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.buy h2 {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6rem;
  bottom: 0;
}

.services article {
  position: relative;
}

.services .dryText,
.services .ozonText,
.services .buyText {
  left: 0;
  padding: 5px;
  background-color: #ffc228;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: justify;
  color: black;
}

.services .buyText p {
  top: 1vh;
  color: black;
}

.buyText li,
.ozonText li {
  list-style-type: square;
  margin-left: 20px;

}

.services .dryText .more,
.services .ozonText .more,
.services .buyText .more {
  background-color: #ffc228;
  width: 100%;
  text-align: center;
}

.showMoreText,
.buyShowMoreText,
.ozonShowMoreText {
  display: none;

}

.activeShowMoreText {
  display: block;
}


.ozonText,
.dryText {
  display: none;
}

.servicesTextActive {
  display: block;
}

.servicesTextDeactive {
  display: none;
}

/* SECTION SERVICES
MEDIA - ORIENTATION PORTRAIT */

@media (min-width: 360px) and (orientation: portrait) {

.services{
  height: 140vh;
}

.dry h2,
.ozon h2,
.buy h2{
  font-size: 1.7rem;
}

.buy div i{
  font-size: 5rem;
}

.buy h2{
  bottom: 2%;
}
.services .dryText,
.services .ozonText,
.services .buyText{
  font-size: 1.7rem;
}
}

@media (min-width: 410px) and (orientation: portrait) {

  .services{
    height: 120vh;
  }
  .dry h2,
  .ozon h2,
  .buy h2{
    font-size: 1.9rem;
  }

  .buy h2{
    bottom: 3%;
  }
  
  .buy div i{
    font-size: 6rem;
  }

  .services .dryText,
  .services .ozonText,
  .services .buyText{
    font-size: 1.8rem;
  }

  
}



/* SECTION SERVICES
MEDIA - ORIENTATION LANDSCAPE */

@media (orientation: landscape) and (min-width: 533px) {}


/* SECTION WORKS */

.works {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  background-color: #f0eee1;
  color: #f0582b;
}

.works h2 {
  margin: 8vh 5vh;
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.gallery div {
  height: 50vh;
  position: relative;
}

.image {
  background-size: cover;
  background-position: center;
}

.gallery p {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-top: 4vh;
}

.gallery .fas {
  position: absolute;
  bottom: 10%;
  color: rgb(255, 255, 255);
  font-size: 4.5rem;
}

.gallery .fa-angle-left {
  left: 15%;
}

.gallery .fa-angle-right {
  right: 15%;
}


@media (min-width: 360px) and (orientation: portrait) {
  .works h2{
    font-size: 3rem;
  }

  .gallery p{
    font-size: 1.9rem;
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .works h2{
    font-size: 4rem;
  }

  .gallery .fas{
    font-size: 6rem;
  }

  .gallery p{
    font-size: 2.2rem;
  }
}

/* orientation landscape - section works */

@media (min-width: 533px) and (orientation: landscape) {}


/* SECTION CONTACT */
.contact {
  margin: 0 auto;
  height: 90vh;
  padding: 30px 10px;
  background-color: #2b337b;

}

.contact h2 {
  font-size: 2.1rem;
  color: #f0582b;
  font-weight: 500;

}

.contact h3 {
  margin: 10px 0;
  font-size: 1.7rem;
  color: #f0582b;
  font-weight: 500;

}

.contact p,
.contact li {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e6e6e6;

}

.contact li {
  list-style: none;
  line-height: 2.4rem;
}

.contact li a {
  color: #f0582b;
  text-decoration: none;
  font-weight: 400;
}

.contact .adress {
  margin: 18px 0;
}

.contact .phone {
  margin: 10px 0;
}

.contact .email a {
  color: #e6e6e6;
}

.phone p,
.email p {
  font-size: 1.8rem;
}

.toTop {
  position: relative;
  left: 190px;
  bottom: 25vh;
  background-color: #2b337b;
  color: #e6e6e6;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0px;
  cursor: pointer;
}


/* SECTION CONTACT - ORIENTATION PORTRAIT */
@media (orientation:portrait) and (min-width:360px) {
  .contact{
    padding: 40px 10px;
  }

  .contact h2{
    font-size: 2.5rem;
  }

  .contact h3{
    font-size: 2rem;
  }

  .contact p,
.contact li{
  font-size: 1.8rem;
}

.phone p,
.email p {
  font-size: 2rem;
}
}

@media (orientation:portrait) and (min-width:410px) {
  .contact{
    padding: 50px 10px;
  }

  .contact h2{
    font-size: 3.2rem;
  }

  .contact h3{
    font-size: 2.7rem;
  }

  .contact p,
.contact li{
  font-size: 2rem;
}

.phone p,
.email p {
  font-size: 2.2rem;
}

.toTop{
  left: 270px;
  bottom: 20vh;
  font-size: 1.1rem;
}
}

/* SECTION CONTACT - ORIENTATIONA LANDSCAPE */

@media (orientation:landscape) and (min-width:533px) {}






/* FOOTER */

footer {
  margin: 0 auto;
  height: 5vh;
  background-color: #231f20;
  color: white;
  text-align: center;
  line-height: 5vh;
  font-size: 1.2rem;
}

/* FOOTER - ORIENTATION PORTRAIT */

@media (orientation:portrait) and (min-width:360px) {
  footer{
    font-size: 1.4rem;
  }
}

@media (orientation:portrait) and (min-width:360px) {
  footer{
    font-size: 1.6rem;
  }
}

/* FOOTER - ORIENTATION LANDSCAPE */

@media (orientation:landscape) and (min-width:533px) {}